.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  body h2 {
    color: blue;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

li {
display: inline;
margin-left: 70px;
margin-right: 70px;
padding-left: 70px;
padding-right: 70px;

}
#b {
    margin-left: 130px;
padding-left: 100px;
margin-right: 40px;
padding-right: 40px;

}
#a {
    margin-right: 110px;
    padding-right: 100px;
    margin-left: 75px;
    padding-left: 75px;
}
header ul {
    background-color: brown;
    color: cyan;
}
main h1 {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
}
p {
    text-align: center;
    font-size: larger;
    font-style: unset;
    font-weight: bold;
}
article {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
body {
    background: #D0E4F5 url("https://previews.123rf.com/images/nuttakit/nuttakit1204/nuttakit120400028/13387478-old-color-paint-wood-wall-and-floor-for-web-page-background.jpg") no-repeat scroll 0px 0px;
}
footer ol li {
    border: 1px outset #1C6EA4;
border-radius: 25px 25px 25px 0px;
padding: auto;
}